# vim: ft=systemd

[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
# NOTE: The 'daemon off' setting of nginx was not intended for production use.
#       While it's safe to use since version 1.0.9, it kills restarts without interuption.
#       See: https://nginx.org/en/docs/faq/daemon_master_process_off.html
Type=forking

PIDFile=/var/run/nginx.pid
ExecStart=/usr/sbin/nginx -c /etc/nginx/nginx.conf
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /var/run/nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /var/run/nginx.pid)"

NoNewPrivileges=true
ProtectHome=true

# NOTE: strict doesn't seem to work, fails with tons of namespacing errors.
#       Setting ReadWritePaths doesn't help, unfortunately.
ProtectSystem=full

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID
LockPersonality=true
RestrictNamespaces=true
DevicePolicy=closed
PrivateDevices=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictAddressFamilies=AF_INET6 AF_INET AF_UNIX
MemoryDenyWriteExecute=true

# We can't enforce PrivateUsers, as nginx depends on the www-data user.
; PrivateUsers=true

# Using PrivateTemp=true caused "non-obvious issues".
# See: http://mailman.nginx.org/pipermail/nginx-devel/2020-March/013074.html
; PrivateTmp=true

SystemCallFilter=~@chown @clock @cpu-emulation @debug @keyring @memlock @module @mount @obsolete @raw-io @reboot @swap @sync @resources
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
