# vim: ft=nginx
{# This marcro is needed to revert yaml parse on or off as boolean #}
{% macro onoff(value) -%}
{%- if  value == 'on' or value == 'off' %} {{ abc }}
{%- else -%}
{% if value is sameas true or value is sameas false %}
{%- if value %} on
{%- else %} off
{%- endif -%}
{%- endif -%}
{%- endif -%}
{%- endmacro %}

# Automatically adjust worker_processes to available CPU cores
worker_processes {{ grains['num_cpus'] }};
user www-data;

events {
    worker_connections  1024;
}

# Log to /dev/log, so journald can collect them
# TODO: Doesn't work for error_log, still created in /var/log/nginx
error_log syslog:server=unix:/dev/log;

http {
    access_log syslog:server=unix:/dev/log;

    include mime.types;
    default_type application/octet-stream;

    sendfile on;
    keepalive_timeout 65;
    gzip off;

    server_tokens off;

    # global TLS settings
    ssl_protocols {{ ssl_protocols }};
    ssl_ciphers {{ ssl_ciphers }};
    ssl_session_cache {{ ssl_session_cache }};
    ssl_prefer_server_ciphers {{ onoff(ssl_prefer_server_ciphers) }};
    ssl_stapling {{ ssl_stapling }};
    ssl_stapling_verify {{ ssl_stapling_verify }};
    ssl_session_tickets {{ ssl_session_tickets }};

    include /etc/nginx/conf.d/*.conf;
}
