# vim: ft=systemd

[Service]
NoNewPrivileges=true
ProtectHome=true

ProtectSystem=strict
ReadWritePaths=/var/log/nginx /var/run

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID
LockPersonality=true
RestrictNamespaces=true
DevicePolicy=closed
PrivateDevices=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictAddressFamilies=AF_INET6 AF_INET AF_UNIX
MemoryDenyWriteExecute=true

# We can't enforce PrivateUsers, as nginx depends on the www-data user.
; PrivateUsers=true

# Using PrivateTemp=true caused "non-obvious issues".
# See: http://mailman.nginx.org/pipermail/nginx-devel/2020-March/013074.html
; PrivateTmp=true

SystemCallFilter=~@chown @clock @cpu-emulation @debug @keyring @memlock @module @mount @obsolete @raw-io @reboot @swap @sync @resources
SystemCallErrorNumber=EPERM
