# vim: ft=sls

letsencrypt:
  domain: example.com
  altnames: www.example.com alt.example.com
  contact_email: hostmaster@example.com
  acme_challenge_dir: /etc/ssl/acme/challenges
  acme_certificate_dir: /etc/ssl/acme/certs

  # Services to restart (via systemctl restart $service)
  # NOTE: restart is used instead of reload, because nginx apparently doesn't reload
  #       certificates upon reload
  services: [nginx]
