# To prevent host header injection, this file sets the default_server directive and returns
# HTTP 400 for requests with an unknown hostname in Host header
server {
    listen *:80    default_server;
    listen [::]:80 default_server;
    return 301 https://{{ fqdn }}$request_uri;
}

server {
    listen *:443 default_server;
    listen [::]:443 default_server;

    ssl_protocols TLSv1.3;
    ssl_session_cache 'shared:SSL:10m';
    ssl_prefer_server_ciphers on;
    ssl_stapling off;
    ssl_stapling_verify off;
    ssl_session_tickets off;

    # Security headers
    add_header X-Content-Type-Options $x_content_type_options;
    add_header X-Frame-Options $x_frame_options;
    add_header X-Robots-Tag $x_robots_tag;
    add_header Referrer-Policy $referrer_policy;

    # SSL certificate
    ssl_dhparam {{ acme_certificate_dir }}/dhparam.pem;
    ssl_certificate {{ acme_certificate_dir }}/{{ fqdn }}/fullchain.pem;
    ssl_certificate_key {{ acme_certificate_dir }}/{{ fqdn }}/privkey.pem;

    return 301 https://{{ fqdn }}$request_uri;
}
